.seenTitle {
    color: blue !important;
}

.filteredTrack {
    display: none;
}

.errTitle {
    color: red !important;
}

.filteredLineDiv {
    display: block;
    font-size: 10pt;
}

.bsc_show {
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    color: #2222FF;
    margin: 0 0 0 10px;
}
